{% extends "base.html" %}

{% block content %}
  <style>
h1 {
  color: #3c53c4;
  font-size: 2.3em;
  margin-bottom: 1em;
  text-align: center;
}
h1 small {
  color: #888;
  font-size: 0.7em;
  display: block;
  text-align: right;
  font-weight: normal;
}

input {
  padding: 2px 5px;
}
input[type=checkbox] {
  flex-shrink: 0;
}
textarea, input[type=text], input[type=email] {
  box-sizing: border-box;
  width: 100%;
}
.row {
  display: flex;
  align-items: baseline;
  margin: 0 0 12px;
}
.boks {
  flex-grow: 1;
  margin: 10px;
}
.boks label {
  display: block;
  font-size: 12pt;
}
.f-full_address textarea {
  height: 2em;
}
.f-other {
  opacity: 0.6;
}
.f-other textarea {
  height: 4em;
}

.f-num_issues input[type=number] {
  width: 2em;
}
.f-submit {
  text-align: right;
}
.f-submit input {
  font-size: 16pt;
  padding: 10px 20px;
}

.f-want_tg label {
  color: #666;
  margin-left: 0.5em;
}
.f-want_tg :checked + label {
  color: #000;
}

.errorlist {
  font-size: 10.5pt;
  margin: 0;
  padding: 4px;
  background-color: rgb(255,190,190);
  border-radius: 5px;
}
.errorlist li {
  margin: 0;
  display: block;
}

.f-shown_name {
  max-height: 100px;
  transition: 1s max-height;
  overflow: hidden;
}
.f-shown_name.hidden {
  max-height: 0;
  transition: 0.4s max-height;
}
  </style>

  <h1>
    Nynorsk litteraturhistorie
    <small>Jan Inge Sørbø</small>
  </h1>

  <form class=entry action=. method=post>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row f-num_issues">
      <label for={{ form.num_issues.id_for_label }}>Eg vil gjerne førehandstinge
      {{ form.num_issues}}
      {{ form.num_issues.errors }}
        eksemplar av boka til kr <ins>393,-</ins> (<small>utsalspris 449,-</small>) pluss porto</label>
    </div>

    <div class="row f-want_tg">
      {{ form.want_tg }}
      {{ form.want_tg.errors }}
      <label for=id_want_tg>Eg ynskjer å stå på Tabula gratulatoria 
      (helsingslista)</label>
    </div>

    <div class="row f-name">
      <div class=boks>
        <label>Førenamn</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
      </div>
      <div class=boks>
        <label>Etternamn</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
      </div>
    </div>

    <div class="row f-shown_name">
      <div class=boks>
        <label>Namn i Tabula gratulatoria
        <small style="color: #555; margin-left: 0.5em; font-size: 10pt">
          (t.d. «Ola Nordmann» eller
          «Ola og Kari Nordmann»)</small>
        </label>
        {{ form.shown_name }}
        {{ form.shown_name.errors }}
      </div>
    </div>

    <div class="row f-full_address">
      <div class=boks>
        <label>Full adresse</label>
        {{ form.full_address }}
        {{ form.full_address.errors }}
      </div>
    </div>

    <div class="row">
      <div class=boks>
        <label>E-post</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
    </div>

    <div class="row f-other">
      <div class=boks>
        <label>Anna (t.d. alternativ adresse / fakturaadresse / adresse i utlandet)</label>
        {{ form.other }}
        {{ form.other.errors }}
      </div>
    </div>

    <div class="row">
      <small>
        Nynorsk litteraturhistorie vil bli lansert mars 2018. Boka
        blir deretter send ut til tingarane med faktura vedlagd.
      </small>
    </div>

    <div class="row">
      <small>
        Ta kontakt med <a
        href=mailto:heleneukarlsen+litteraturhistorie@gmail.com>Samlaget</a>,
        dersom du lurar på noko.
      </small>
    </div>

    <div class="f-submit">
      <input type=submit value="Legg til">
    </div>
  </form>

<script>
var $ = document.querySelector.bind(document);
var id_first_name = $('#id_first_name');
var id_last_name = $('#id_last_name');
var id_shown_name = $('#id_shown_name');
var id_want_tg = $('#id_want_tg');

function update_shown_name() {
  var name = id_first_name.value + ' ' + id_last_name.value;
  id_shown_name.placeholder = name;
}
id_last_name.oninput = update_shown_name;
id_first_name.oninput = update_shown_name;

function update_want_tg() {
  $('.f-shown_name').classList.toggle(
      'hidden', !id_want_tg.checked);
}
id_want_tg.onchange = update_want_tg;

</script>
{% endblock %}
